extends base

block content 
   main.main
      .container
        .farm-guide
          p Click on a farm activity to learn more about it.
          ul.list.farm-guide_menu
            li
              a.menu_item(href='/farm-guide/pest-management')
                span.icon
                  img.image-icon(src='src/pesticide.png', alt='')
                span  Pest and disease management 
            li
              a.menu_item(href='/farm-guide/fertilizer-application')
                span.icon
                  img.image-icon(src='src/fertilizer.png', alt='')
                span  Fertilizer Management 
            li
              a.menu_item(href='/farm-guide/planting')
                span.icon
                  img.image-icon(src='src/planting.png', alt='')
                span Planting 
            li
              a.menu_item(href='/farm-guide/pruning')
                span.icon
                  img.image-icon(src='src/pruning.png', alt='')
                span Pruning 
            li
              a.menu_item(href='/farm-guide/picking')
                span.icon
                  img.image-icon(src='src/picking.png', alt='')
                span Picking 