extends base

block content 
  main.main
      .farm-profile
        section.section.section-farm-details
          h2.heading-secondary Farm Details
          .row.row-farm-details
            p.profile_detail
              span Location
              span Nyeri
            p.profile_detail
              span Farmer
              span Farmer
            p.profile_detail
              span Farm size
              span 1 Acre
        section.section.section-coffee-details
          h2.heading-secondary Coffee Details
          .row.row-coffee-details
            p.profile_detail
              span Type
              span Arabica
            p.profile_detail
              span Number of trees
              span 150
            p.profile_detail
              span Yearly Yield
              span 10kg
        section.section.section-coffee-details
          h2.heading-secondary Soil Details
          .row.row-coffee-details
            p.profile_detail
              span Type
              span Arabica
            p.profile_detail
              span Number of trees
              span 150
            p.profile_detail
              span Production per tree
              span 10kg