extends base 

block content 

  main.main
    .container
      .flex.flex-dc.gap-md
        section.section.section--pest-details
          .pest-details
            section.section.section-details--text
              .row.flex.flex-dc
                .flex.flex-dc.gap-md
                  .flex.flex-dc.gap-sm
                    p.pest_detail
                      span Pest Name
                      span
                        | Lorem ipsum dolor sit amet consectetur adipisicing
                        | elit.
                  .pest_detail.pest_detail-symptoms.flex.flex-dc.gap-sm
                    h4 Symptoms
                    ul.flex.flex-dc.gap-sm.pest_symptoms
                      li
                        p.pest_symptom
                          | Lorem ipsum dolor sit amet consectetur adipisicing
                          | elit. Culpa eaque quasi distinctio corporis quos?
                          | Ex tenetur quidem rem omnis rerum vero, eveniet
                          | doloremque esse voluptas suscipit accusantium
                          | perspiciatis deserunt labore.
                      li
                        p.pest_symptom
                          | Lorem ipsum dolor sit amet consectetur adipisicing
                          | elit. Culpa eaque quasi distinctio corporis quos?
                          | Ex tenetur quidem rem omnis rerum vero, eveniet
                          | doloremque esse voluptas suscipit accusantium
                          | perspiciatis deserunt labore.
                .section-symptoms--images
                  .row.row-activity
                    h3 Symptom Images
                    ul.list.list-activity-images
                      li
                        figure.procedure_step-img
                          img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                          figcaption Step 1
                      li
                        figure.procedure_step-img
                          img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                          figcaption Step 1
                      li
                        figure.procedure_step-img
                          img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                          figcaption Step 1
                      li
                        figure.procedure_step-img
                          img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                          figcaption Some pruning technique
        .activity-instructions
          section.section.section-instructions--text
            h2.heading-tertiary Control Method
            .row.row-activity
              .flex.flex-dc.gap-md
                .flex.flex-dc.gap-sm
                  p.instruction_detail
                    span Required Pesticide
                    span
                      | Lorem ipsum dolor sit amet consectetur adipisicing
                      | elit.
                  p.instruction_detail
                    span Required Tools
                    |  
                    span Shears
                .instruction_detail.instruction_detail-procedure.flex.flex-dc.gap-sm
                  h4 Procedure
                  ul.flex.flex-dc.gap-sm.procedure_steps
                    li
                      p.procedure_step
                        | Lorem ipsum dolor sit amet consectetur adipisicing
                        | elit. Culpa eaque quasi distinctio corporis quos? Ex
                        | tenetur quidem rem omnis rerum vero, eveniet
                        | doloremque esse voluptas suscipit accusantium
                        | perspiciatis deserunt labore.
                    li
                      p.procedure_step
                        | Lorem ipsum dolor sit amet consectetur adipisicing
                        | elit. Culpa eaque quasi distinctio corporis quos? Ex
                        | tenetur quidem rem omnis rerum vero, eveniet
                        | doloremque esse voluptas suscipit accusantium
                        | perspiciatis deserunt labore.
                    li
                      p.procedure_step
                        | Lorem ipsum dolor sit amet consectetur adipisicing
                        | elit. Culpa eaque quasi distinctio corporis quos? Ex
                        | tenetur quidem rem omnis rerum vero, eveniet
                        | doloremque esse voluptas suscipit accusantium
                        | perspiciatis deserunt labore.
                  .section-instructions--images
                    .row.row-activity
                      h3 Procedure Images
                      ul.list.list-activity-images
                        li
                          figure.procedure_step-img
                            img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                            figcaption Step 1
                        li
                          figure.procedure_step-img
                            img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                            figcaption Step 1
                        li
                          figure.procedure_step-img
                            img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                            figcaption Step 1
                        li
                          figure.procedure_step-img
                            img(src='../src/fertilizer-application-methods/ring-method.jpg', alt='')
                            figcaption Some pruning technique