.form {
  padding: 4.8rem 4rem;
  background-color: $color-white-500;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-md;
  box-shadow: $shadow-md;
  // gap: 2rem;

  .sub-form {
    border-bottom: 1px solid #d1d5db;
    .form-row--horizontal {
      border-bottom: none !important;
    }
  }

  &--authentication {
    width: 100%;
    max-width: 56rem;
    margin: auto;
    & button {
      margin-top: 1rem;
    }
  }

  &--budget {
    .instruction-text {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.6rem;

    & input {
      padding: 1rem 2rem;
      border-radius: $border-radius-sm;
    }
  }

  .form-row--horizontal {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    font-size: 1.4rem;
    gap: 2.4rem;
    padding: 1.2rem 0;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid #d1d5db;
    }

    & label {
      font-weight: 500;
    }

    & input,
    & select {
      border: solid 1px #d1d5db;
      box-shadow: $shadow-sm;
      border-radius: $border-radius-sm;
      padding: 0.8rem 1.2rem;
    }
  }

  .btns-row {
    margin-top: 4rem;
    display: flex;
    gap: 1.4rem;
    justify-content: flex-end;

    & button {
      width: fit-content;
    }
  }
}
