.status-box {
  position: absolute;
  background-color: #fbfbfb;
  padding: 1.6rem 1.4rem;
  box-shadow: $shadow-md;
  left: 50%;
  z-index: 100;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  top: 2rem;
  transform: translateX(-50%);
  border-radius: 8px;
  font-size: 1.6rem;

  & ion-icon {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  & svg {
    width: 2.4rem;
    height: 2.4rem;
    animation: spin infinite linear 750ms;
  }

  &--success {
    .icon-error,
    .icon-loading {
      display: none;
    }
    & ion-icon {
      background-color: $color-green-700;
    }
  }
  &--loading {
    .icon-success,
    .icon-error {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--error {
    .icon-success,
    .icon-loading {
      display: none;
    }
    & ion-icon {
      background-color: $color-red-700;
    }
  }
}
