doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;700;900&family=Rubik:wght@400;500;600;700&display=swap', rel='stylesheet')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(rel='stylesheet', href='./styles/style.css')
    title Dashboard
  body
    .app-layout
      main.main.main--authentication
        form.form.form--authentication.authentication--signup(action='')
          h1 Coffee Farming Management System
          h2 Create your account
          .input-group
            label(for='name') Name
            input#name(required='', placeholder='F', type='text')
          .input-group
            label(for='email') Email
            input#email(required='', placeholder='example@email.com', type='email')
          .input-group
            label(for='password') Password
            input#password(minlength='8', required='', type='password')
          .input-group
            label(for='password') Confirm Password
            input#password(minlength='8', required='', type='password')
          div
            button.btn.btn-primary.btn-large Signup
          .input-group
            p
              | Already have have an account?
              a(href='') Login
      script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
      script(nomodule='', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
