.farm-profile {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  .row {
    padding: 2rem;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-sm;
  }

  .profile_detail {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 16rem auto;
    align-items: center;

    gap: 1rem;

    & span:first-child {
      color: #222;
      font-weight: 600;
    }
    & span:last-child {
      width: 16rem;
      padding: 1rem;
      background-color: #34d466;
      border-radius: $border-radius-sm;
    }
  }
  .section-farm-details {
  }
}
