.fertilizer-management {
  display: flex;
  // flex-direction: column;
  gap: 4rem;
  width: 100%;

  .section-fertilizers {
    width: 100%;
    max-width: 64rem;
  }

  .list-fertilizers {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.8rem;

    & li {
      border-radius: $border-radius-md;

      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(34, 66, 98, 0.15) 0px 0px 0px 1px;
      background-color: #fdfdfd;
    }

    & .active {
      outline: 2px solid green;
    }
  }

  .fertilizer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;

    padding: 1rem;

    &_name {
      font-size: 1.5rem;
      font-weight: 600;
      color: #222;
    }
    &_nutrient,
    &_amount {
      font-size: 1.3rem;
      color: #222;
      font-weight: 600;

      & span {
        font-weight: 500;
        color: #444;
      }
    }
  }

  .fertilizer-instructions {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2.4rem;
    justify-content: end;

    &_text {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
    }

    &_image {
      display: flex;

      // justify-content: ;
      & img {
        border-radius: $border-radius-md;
        border: 1px solid #111;
        max-height: 32rem;
      }
    }
  }

  & .row {
    padding: 2rem;
    background-color: #fbfbfb;
    border-radius: $border-radius-md;
    box-shadow: $shadow-md;

    & h3 {
      font-family: "Rubik", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.64rem;
      color: #000;

      &-instructions {
        width: fit-content;
        background-color: #fbfbfb;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;
      }
    }
  }
}
