.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.instructional-text {
  font-size: 1.3rem;
  color: #eee;
  font-weight: 400;
}

.instruction_detail,
.pest_detail {
  display: flex;
  gap: 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;

  & span:first-child {
    color: #222;

    font-weight: 600;
  }

  &-procedure,
  &-symptoms {
    flex-direction: column;
    gap: 1rem;

    & p {
      font-weight: normal;
      letter-spacing: normal;
      line-height: 1.4;
      max-width: 64rem;
    }
  }
}

.image-icon {
  width: 4rem;
  height: 4rem;
}
.image-icon-sm {
  width: 2.8rem;
  height: 2.8rem;
}
