.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-dc {
  flex-direction: column;
}

.flex-dr {
  flex-direction: row;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.align-center {
  align-items: center;
}
.align-bottom {
  align-items: bottom;
}

.gap-md {
  gap: 2.4rem;
}
.gap-sm {
  gap: 1.4rem;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}

.width-max {
  width: 100%;
}
.height-max {
  height: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.mt-tiny {
  margin-top: 0.4rem;
}
.mt-md {
  margin-top: 0.8rem;
}

.text-align-center {
  width: 100%;
  text-align: center;
}

.loading {
  & p,
  span,
  button,
  input,
  label {
    // background: linear-gradient(to left, #ddd, #bbb);
    width: fit-content;
    color: transparent !important;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    animation: animateBackground infinite 5s;
    transition: background-color 5s;
  }

  // & button {
  //   width: 100%;
  // }
  & figcaption {
    display: none;
  }

  & .pest_img-box,
  & figure {
    background-color: #dddd;
    // animation: animateBackground infinite 5s;
    // transition: background-color 5s;
    border-radius: $border-radius-md;
  }

  & .widget {
    background-color: $color-white-500 !important;
  }

  & img {
    opacity: 0;
  }

  @keyframes animateBackground {
    0% {
      background-color: #dddd;
    }
    100% {
      background-color: #ccc;
    }
  }
}
