.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-dc {
  flex-direction: column;
}

.flex-dr {
  flex-direction: row;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.align-center {
  align-items: center;
}
.align-bottom {
  align-items: bottom;
}

.gap-md {
  gap: 2.4rem;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}

.width-max {
  width: 100%;
}
.height-max {
  height: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
