* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.instructional-text {
  font-size: 1.3rem;
  color: #eee;
  font-weight: 400;
}

.instruction_detail {
  display: flex;
  gap: 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.instruction_detail span:first-child {
  color: #222;
  font-weight: 600;
}
.instruction_detail-procedure {
  flex-direction: column;
  gap: 1rem;
}
.instruction_detail-procedure p {
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.4;
  max-width: 64rem;
}

.image-icon {
  width: 4rem;
  height: 4rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-dc {
  flex-direction: column;
}

.flex-dr {
  flex-direction: row;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: bottom;
}

.gap-md {
  gap: 2.4rem;
}

.gap-sm {
  gap: 1.4rem;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.width-max {
  width: 100%;
}

.height-max {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-layout {
  display: grid;
  grid-template-columns: 23rem auto;
  height: 100vh;
  overflow-y: hidden;
}
.app-layout--authentication {
  grid-template-columns: 1fr;
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  gap: 4rem;
}
.dashboard_graph {
  gap: 2rem;
  display: grid;
  grid-template-columns: 8fr 2fr;
  background-color: #fff;
  border-radius: 8px;
  padding: 4rem;
}
.dashboard_graph--yield-stats {
  margin-top: 16rem;
  margin-bottom: 4rem;
}
.dashboard_legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dashboard_legend-rectangle {
  background-color: #20377d;
  width: 2rem;
  height: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
}
.section-expenses {
  flex-grow: 5;
}
.section-budget {
  flex-grow: 5;
}

.row {
  display: flex;
  margin-top: 2rem;
}
.row-widgets {
  flex-direction: row;
  gap: 2rem;
}
.row-widgets .widget {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
}
.row-widgets .widget-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #f2f2f2;
}
.row-widgets .widget-value {
  font-weight: 400;
  font-size: 1.4rem;
  color: #f2f2f2;
}
.row-widgets .widget-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 2.8rem;
}
.row-widgets .widget--income {
  background-color: #207d40;
}
.row-widgets .widget--expenses {
  background-color: #7d3320;
}
.row-widgets .widget--profit {
  background-color: #20377d;
}
.row-widgets .widget--budget {
  background-color: #7d207d;
}
.row-income {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 5px;
}
.row-income .sales-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 1.4rem;
}
.row-income .sales-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 0 4.8rem;
}
.row-income .sales-detail .label {
  font-size: 1.8rem;
  font-weight: 500;
}
.row-income .sales-detail .value {
  font-size: 1.6rem;
  font-weight: 600;
}
.row-income .sales-detail:nth-child(even) {
  border-left: 1px solid #111;
  border-right: 1px solid #111;
}
.row-expenses {
  flex-direction: column;
  gap: 1rem;
}
.row-expenses .expense {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.4rem;
  background-color: #fff;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  gap: 1.4rem;
}
.row-expenses .expense_header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.row-expenses .expense_body.hidden {
  display: none;
}
.row-expenses .expense_name {
  font-size: 1.8rem;
  font-weight: 600;
}
.row-expenses .expense_status {
  font-size: 1.2rem;
  font-weight: 600;
  color: green;
}
.row-expenses .expense_cost {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.row-expenses .expense_icon {
  padding: 0.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8c2bc;
  border-radius: 50%;
}
.row-expenses .expense_list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  border: 1px solid #777;
  border-radius: 5px;
}
.row-expenses .expense_list li {
  display: grid;
  gap: 0.4rem;
}
.row-expenses .expense_list--labor li {
  grid-template-columns: repeat(6, 1fr);
}
.row-expenses .expense_list--fertilizer li {
  grid-template-columns: repeat(5, 1fr);
}
.row-expenses .expense_list .header-row,
.row-expenses .expense_list .values-row {
  padding: 0.5rem 1rem;
}
.row-expenses .expense_list .header-row {
  background-color: #bcd8c6;
  overflow: hidden;
  border-bottom: 1px solid #777;
}
.row-expenses .expense_list .header-row span {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
}
.row-expenses .expense_list .values-row span {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #111;
}
.row-expenses .expense_list .values-row:nth-child(odd) {
  background-color: #e9f2ec;
}
.row-expenses .expense_list .values-row:not(:last-of-type) {
  border-bottom: 1px solid #888;
}
.row-budget {
  flex-direction: column;
  background-color: #fff;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  position: relative;
}
.row-budget .btn {
  position: absolute;
  background-color: #20377d;
  padding: 0.8rem 1rem;
  color: #fff;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: calc(100% - 2rem);
}

.farm-guide {
  background-color: #fff;
  padding: 1rem;
  border-radius: 7px;
  height: 100%;
}
.farm-guide p {
  font-size: 1.6rem;
  font-weight: 500;
}
.farm-guide_menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.farm-guide .menu_item:link, .farm-guide .menu_item:visited {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  padding: 1.4rem;
  font-weight: 500;
  color: #222;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fdfdfd;
}
.farm-guide .menu_item:link .icon, .farm-guide .menu_item:visited .icon {
  padding: 0.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6afcb;
  border-radius: 50%;
}
.farm-guide .menu_item:hover, .farm-guide .menu_item:active {
  color: #207d40;
  background-color: #fff;
}

.pest-management {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2rem;
}
.pest-management .column-pests {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.pest-management .column-pest-cases {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 7px;
  background-color: #fcfcfc;
}
.pest-management .row {
  border-radius: 5px;
  padding: 2rem;
}
.pest-management .row-probable-pests {
  background-color: #f2bdc7;
}
.pest-management .row-other-pests {
  padding: 0 2rem;
}
.pest-management .row-current-pest-cases {
  padding: 0;
}
.pest-management .list-probable-pests {
  display: flex;
  gap: 1.6rem;
}
.pest-management .pest {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.pest-management .pest_img-box img {
  max-width: 16rem;
  outline: 1px solid #777;
  border-radius: 5px;
}
.pest-management .pest_name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pest-management .list-other-pests {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.pest-management .list-current-pest-cases {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #333;
}
.pest-management .list-current-pest-cases li:not(:last-child) {
  border-bottom: 1px solid #777;
}
.pest-management .pest-case {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  background-color: #efefef;
  padding: 0.8rem;
}
.pest-management .pest-case_name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #444;
}
.pest-management .pest-case_date {
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
}
.pest-management .pest-case_severity {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.fertilizer-management {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.fertilizer-management .section-fertilizers {
  width: 100%;
  max-width: 64rem;
}
.fertilizer-management .list-fertilizers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 0.8rem;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  background-color: #fbfbfb;
}
.fertilizer-management .list-fertilizers li {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fdfdfd;
}
.fertilizer-management .fertilizer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  padding: 1rem;
}
.fertilizer-management .fertilizer_name {
  font-size: 1.6rem;
  font-weight: 500;
}
.fertilizer-management .fertilizer_nutrient, .fertilizer-management .fertilizer_amount {
  font-size: 1.3rem;
  color: #222;
  font-weight: 600;
}
.fertilizer-management .fertilizer_nutrient span, .fertilizer-management .fertilizer_amount span {
  font-weight: 500;
  color: #000;
}
.fertilizer-management .fertilizer-instructions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2.4rem;
  justify-content: end;
}
.fertilizer-management .fertilizer-instructions_text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.fertilizer-management .fertilizer-instructions_image {
  display: flex;
}
.fertilizer-management .fertilizer-instructions_image img {
  border-radius: 7px;
  border: 1px solid #111;
  max-height: 32rem;
}
.fertilizer-management .row-instructions {
  width: fit-content;
  padding: 2rem;
  background-color: #fbfbfb;
  border-radius: 7px;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
}

.activity-instructions {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.activity-instructions .row {
  padding: 2rem;
  background-color: #fbfbfb;
}
.activity-instructions .procedure_steps {
  padding: 0 2rem;
  list-style: none; /* Remove default list-style */
  counter-reset: step-counter; /* Reset the counter */
}
.activity-instructions .procedure_steps li {
  counter-increment: step-counter; /* Increment the counter for each list item */
}
.activity-instructions .procedure_steps li:before {
  content: "Step " counter(step-counter) ": "; /* Add the word "Step" and the counter value before each list item */
  font-weight: bold; /* Optional: Make the step number bold */
}

.farm-profile {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.farm-profile .row {
  padding: 2rem;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}
.farm-profile .profile_detail {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 16rem auto;
  align-items: center;
  gap: 1rem;
}
.farm-profile .profile_detail span:first-child {
  color: #222;
  font-weight: 600;
}
.farm-profile .profile_detail span:last-child {
  width: 16rem;
  padding: 1rem;
  background-color: #34d466;
  border-radius: 5px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-nav {
  display: flex;
  margin-top: 16rem;
}
.main-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-nav ul li {
  border-radius: 12px;
}
.main-nav ul li.active {
  background-color: #b4fdda;
}
.main-nav ul li.active a {
  color: green;
}
.main-nav--link:link, .main-nav--link:visited {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  color: #333;
  font-weight: 500;
}
.main-nav--link:link ion-icon, .main-nav--link:visited ion-icon {
  font-size: 2rem;
}
.main-nav--link:link span, .main-nav--link:visited span {
  font-size: 1.8rem;
}
.main-nav--link:hover, .main-nav--link:active {
  color: green;
}

.main {
  padding: 4rem;
  background-color: #e5ebf9;
  overflow-y: auto;
}
.main--dashboard {
  padding: 0;
  display: grid;
  grid-template-columns: auto 32rem;
}
.main--authentication {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.aside {
  display: flex;
  flex-direction: column;
}

.weather-box {
  height: 27rem;
  background: linear-gradient(#136ec2, rgba(19, 109, 194, 0.2));
  padding: 3.2rem 1.6rem 2rem 1.6rem;
}
.weather-box--big {
  height: 12rem;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 1.2rem 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1.2rem;
}
.weather-box--small {
  height: 8rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1.4rem;
  background-color: #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
}
.weather-box--current-condition, .weather-box--current-day {
  font-size: 1.6rem;
  font-weight: 400;
  grid-row: 1/2;
}
.weather-box--current-date {
  grid-row: 2/3;
  grid-column: 2/3;
}
.weather-box--current-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2/3;
  height: 100%;
}
.weather-box--current-symbol ion-icon {
  margin-top: -1rem;
  font-size: 6.4rem;
}
.weather-box--current-condition, .weather-box--current-symbol {
  border-right: 1px solid #222;
}
.weather-box--current-temperature {
  font-size: 2.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.weather-box .weather_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.1rem;
}
.weather-box .weather_detail-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}
.weather-box .weather_detail-value {
  font-weight: 600;
}

.section-actions {
  background-color: #207d40;
  height: 100%;
  display: grid;
  padding: 2rem;
  grid-template-rows: 2fr 4fr;
}
.section-actions h4 {
  color: #fff;
}
.section-actions .data-recording {
  border-bottom: 2px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-actions .scheduling {
  margin-top: 1rem;
}
.section-actions .activities_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.8rem;
}
.section-actions .schedule_activity {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  padding: 0.8rem;
  background-color: #f3f4f6;
  background-color: #a0ffd6;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}
.section-actions .schedule_activity-icon {
  border-radius: 5px;
  padding: 0.64rem;
  background-color: #136ec2;
  grid-row: 1/-1;
  object-fit: contain;
}
.section-actions .schedule_activity-icon img {
  height: 2.6rem;
  width: 2.6rem;
}
.section-actions .schedule_activity-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
}
.section-actions .schedule_activity-date, .section-actions .schedule_activity-time {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  font-weight: 600;
  color: #333;
}
.section-actions .schedule_add-activity {
  margin-top: 2.4rem;
  display: flex;
}
.section-actions .schedule_add-activity button {
  width: 100%;
}

.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.btn span {
  font-weight: 600;
}
.btn-small {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  text-align: center;
}
.btn-medium {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
}
.btn-large {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  width: 100%;
}
.btn-primary {
  background: #207d40;
  color: #fff;
}
.btn-primary--light {
  background: #dbdbdb;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  color: #333;
  box-sizing: border-box;
  font-weight: 400;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.btn-icon ion-icon {
  font-size: 1.6rem;
}
.btn-icon-only {
  background: none;
  cursor: pointer;
}
.btn-icon-only ion-icon {
  font-size: 2.4rem;
}

.form {
  padding: 4.8rem 4rem;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  gap: 2rem;
}
.form--authentication {
  width: 100%;
  max-width: 56rem;
  margin: auto;
}
.form--authentication button {
  margin-top: 1rem;
}
.form .input-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.form .input-group input {
  padding: 1rem 2rem;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
