.pest-management {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2rem;

  .column-pests {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .column-pest-cases {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    border-radius: $border-radius-md;
    box-shadow: $border-radius-md;

    //
    background-color: #fcfcfc;
  }

  .row {
    border-radius: $border-radius-sm;
    padding: 2rem;

    &-probable-pests {
      background-color: #f2bdc7;
    }
    &-other-pests {
      padding: 0 2rem;
    }
    &-current-pest-cases {
      padding: 0;
    }
  }

  .list-probable-pests {
    display: flex;
    gap: 1.6rem;
  }

  .pest {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fbfbfb;
    border-radius: $border-radius-sm;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &_img-box {
      // object-fit: contain;
      & img {
        max-width: 16rem;
        outline: 1px solid #777;
        border-radius: $border-radius-sm;
      }
    }

    &_name {
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .list-other-pests {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
  }
  .list-current-pest-cases {
    display: flex;
    flex-direction: column;
    width: 100%;
    // gap: 1rem;
    border-radius: $border-radius-sm;
    overflow: hidden;
    border: 1px solid #333;

    & li:not(:last-child) {
      border-bottom: 1px solid #777;
    }
  }

  .pest-case {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    background-color: #efefef;
    padding: 0.8rem;

    &_name {
      font-size: 1.3rem;
      font-weight: 600;
      color: #444;
    }
    &_date {
      font-size: 1.2rem;
      font-weight: 500;
      color: #222;
    }
    &_severity {
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;
    }
  }
}
